name: Birthday and Anniversary Reminder

on:
  schedule:
    - cron: "20 12 * * *" # Runs at 5AM UTC which is midnight EST

env:
  MODE: "pipeline"
  YAML_FILE_NAME: ${{ vars.YAML_FILE_NAME }}
  DISCORD_WEBHOOK: ${{ secrets.discord_birthday_wh }}

jobs:
  run-reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull yml file
        env:
          GH_URL: ${{ vars.GH_URL }}
          TOKEN: ${{ secrets.PAT_GH_URL }}
        run: |
          curl -H "Authorization: token ${{ env.TOKEN }}" ${{ env.GH_URL }} -o ${{ vars.YAML_FILE_NAME }}

      - name: Python env setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r requirements.txt

      - name: Run code
        run: python main.py
